body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    z-index:3;
    background-color: rgba(0,0,0,0.4);
}
.navbar-toggler-icon{
    background: url(../img/menu.png);
    background-size: 100%;
}
.navbar_logo_name {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}
#main-nav{
    background-color:rgb(70, 143, 6);
    padding:20px 200px;
    z-index:100;
    width:100%;
    transition:all 0.7s;
}

#main-nav li{
    padding:0 10px;


}
#main-nav li a{
    color:#fff;
}
.fixed-me#main-nav {
    background-color: #fff ; 
    padding: 0 10px !important;
    margin-bottom: 5px;
    top: 0;
    border-bottom: 3px solid rgb(176, 242, 118) !important;
    transition: all 1s;
}
@media (max-width: 991px) {
    #main-nav {
      padding: 15px;
    }
    .navbar_logo_name {
      font-size: 14px;
    }